<div class="span3">
    <h2>Plus d'info</h2>
    <ul>
        <li><a href="http://www.somatopathie.com/" target="_blank" rel="nofollow">Ecole de somatopathie</a><br></li>
        <li><a href="http://www.somatopathie.fr/accueil#%21__accueil" target="_blank" rel="nofollow">Plus d'infos sur la méthode</a></li>
    </ul>
</div>
<div class="span3">
    <h2>Coordonn&eacute;es</h2>
    <address>
        <strong>Michel Tiok-Hong</strong><br>
        2 impasse Mathurin Méheut<br>
        Montreuil-le-Gast<br>
        35520 France<br><br>
        <abbr title="Phone">tel</abbr> : 06 09 08 65 07<br><br>
        <abbr title="Fax">fax</abbr> : 09 57 49 93 78<br><br>
        <abbr title="Email">email</abbr> : <a href="mailto:#">michel.somato@free.fr</a>
    </address>

</div>
<div class="span3">
    <h2>Horaires</h2>
    Du lundi au vendredi<br>
    9h00 à 12h00<br>
    14h00 à 19h00
</div>
<div class="span3">
    <h2>Plan de situation</h2>
    <iframe width="103%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=2+Impasse+Mathurin+M%C3%A9heut,+Montreuil-le-Gast,+France&amp;aq=0&amp;oq=2&amp;sll=47.899435,0.620105&amp;sspn=0.094487,0.253029&amp;ie=UTF8&amp;hq=&amp;hnear=2+Impasse+Mathurin+M%C3%A9heut,+35520+Montreuil-le-Gast,+Ille-et-Vilaine,+Bretagne,+France&amp;t=m&amp;z=14&amp;ll=48.249052,-1.725066&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=2+Impasse+Mathurin+M%C3%A9heut,+Montreuil-le-Gast,+France&amp;aq=0&amp;oq=2&amp;sll=47.899435,0.620105&amp;sspn=0.094487,0.253029&amp;ie=UTF8&amp;hq=&amp;hnear=2+Impasse+Mathurin+M%C3%A9heut,+35520+Montreuil-le-Gast,+Ille-et-Vilaine,+Bretagne,+France&amp;t=m&amp;z=14&amp;ll=48.249052,-1.725066" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
</div>
